.awesome-conteiner {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

}

.awesome-conteiner>h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42x;
    align-items: center;
    text-align: center;
    color: #000000;
}
.awesome-conteiner>p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.awesome-conteiner>img {

    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.awesome-column {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.column {
    width: 370px;
    text-align: center;
}





@media (max-width:1150px) {
    .column {
        padding-left: 30px;
        width: auto;
    }
    .column:first-child {
        padding-left: 0;
    }
}

@media (max-width:600px)  {
    .awesome-column {
        display: block;
        text-align: center;
        width: auto;
    }
    .column {
        padding-left: 0px;
    }
}
