.contact{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1170px;

}
.contact-conteiner>h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;    
}
.contact-conteiner>p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #86878B;
}

